@page
@model CRUDAPP.Pages.Registration.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Maṇḍaḷī</h1>

<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Register.GroupName" class="control-label"></label>
                <input asp-for="Register.GroupName" class="form-control" />
                <span asp-validation-for="Register.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.Address" class="control-label"></label>
                <input asp-for="Register.Address" class="form-control"/>
                <span asp-validation-for="Register.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.ContactPersonName" class="control-label"></label>
                <input asp-for="Register.ContactPersonName" class="form-control" />
                <span asp-validation-for="Register.ContactPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.ContactPhone" class="control-label"></label>
                <input asp-for="Register.ContactPhone" class="form-control" />
                <span asp-validation-for="Register.ContactPhone" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="Register.RegisterDate" class="control-label"></label>
                <input asp-for="Register.RegisterDate" class="form-control" />
                <span asp-validation-for="Register.RegisterDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Register.UserName" class="control-label"></label>
                <input asp-for="Register.UserName" class="form-control" />
                <span asp-validation-for="Register.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Register.Password" class="control-label"></label>
                <input asp-for="Register.Password" class="form-control" type="password"/>
                <span asp-validation-for="Register.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
